.bolly-post{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 3%;
}
.left{
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 375px) and (max-width: 800px) {

.bolly-post{
    flex-direction: column;
}

.left{
    width: 100%;
    
}
}