.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;

}

.header-name{
  display: flex;
}
.s1 {
  width: 60px;
  height: 39px;
  transform: matrix(0, -1, 1, 0, 0, 0);
  font: 30px "Montserrat";
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  margin-top: 1.8%;
  background-color: #000000;
}

.s2 {
  font: 50px 'Montserrat';
  font-weight: bolder;
  color: #000000;

  text-transform:uppercase;
}

.hamburger{
  visibility: hidden;
}

.ham{
  opacity: 1;
  width: 25px;
  height: 0;
  /* border: none; */
  border: 3px solid #A3A1A1;
}

@media screen and (min-width: 375px) and (max-width: 800px){
  .hamburger{
    visibility: visible;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    text-align: center;
    margin: 1%;
   
  }
  
  .ham{
    opacity: 1;
    width: 25px;
    height: 0;
    /* border: none; */
    border: 3px solid #A3A1A1;
    margin: 25% auto;
  }
  .header{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 auto ;
    margin-top: 2%;
  }

  .toggle-navbar{
    border: 1px solid red;
  }
}